div.widget {
    width: 200px;
    min-width: 200px;
    height: 650px;
    /* position: fixed; */
    z-index: 1;
    margin-left: 40px;
    margin-right: 20px;
    border: 1px solid #f4f4f4;
    background-color: #f4f4f4;
    border-radius: 20px;
    padding: 10px 20px;
    -webkit-box-shadow: 11px 11px 38px -21px rgba(0, 0, 0, 0.36);
    -moz-box-shadow: 11px 11px 38px -21px rgba(0, 0, 0, 0.36);
    box-shadow: 11px 11px 38px -21px rgba(0, 0, 0, 0.36);
    font-size: 14px;
}

.widget h3 {
    margin: 10px;
    font-size: 17px;
    text-align: center;
}

.widget>* {
    margin: 10px;
}

.btn-filter {
    width: 100%;
    padding: 5px 15px;
    border-radius: 10px;
    background-color: #fff;
    margin: 10px 0;
}

div.filter-group {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

div.filter-group>* {
    margin: 2px 0;
}

div.checkbox {
    display: flex;
}

div.checkbox>* {
    margin: auto 3px;
}

.checkbox label {
    display: flex;
    flex-direction: row;
}

.color-block {
    margin: auto 3px auto 0;
    width: 10px;
    height: 10px;
}