* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #141414;
  font-family: 'Quicksand', sans-serif;
  /* padding-top: 120px; */
}

a {
  color: #1b1b1b;
  text-decoration: none;
}

/* PAGES */

.main {
  width: 100%;
  /* position: relative; */
  /* margin-top: 120px; */
}