/* NAVBAR */

.navbar {
    width: 100%;
    padding: 5px 20px;
    position: fixed;
    top: 0;
    display: flex;
    overflow: hidden;
    z-index: 9999;
    background-color: #fff;
    /* border-bottom: 1px solid gray; */
    -webkit-box-shadow: 0px 11px 31px -22px rgba(0, 0, 0, 0.36);
    -moz-box-shadow: 0px 11px 31px -22px rgba(0, 0, 0, 0.36);
    box-shadow: 0px 11px 31px -22px rgba(0, 0, 0, 0.36);
}

.navbar .logo {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.navbar .menu {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.navbar .menu>* {
    margin: 10px;
}